.material-card-container {
    background-color: white;
    color: #0C2C80;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 40px;
    min-height: 70vh;
}

.gr1 { grid-area: 1 / 1 / 3 / 2; }
.gr2 { grid-area: 1 / 2 / 2 / 4; }
.gr3 { grid-area: 2 / 2 / 3 / 4;
    align-items: center;
}
.gr4 { grid-area: 3 / 1 / 5 / 4; }


.img-container img{
    min-width: 350px;
    min-height: 220px;
    border: 4px solid #A4ADFE;
}


.info {
    display: flex;
    justify-content: space-between;
}

.info-details h3{
    font-size: 24px;
}

.info-details h4 {
    font-size: 18px;
    font-weight: 500;
}

.mark {

}

.price {
    font-size: 36px;
    font-weight: bold;
}

.description-box {
    width: 75%;
    line-height: 1.5em;
}

.button-box button:first-child {
    background-color: #3D27C5;
    color: #fff;
    border-radius: 20px;
    padding: 10px 0;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 20px;
}
.button-box button:last-child {
    background-color: #FE9549;
    color: #fff;
    border-radius: 20px;
    padding: 10px 0;
    margin: 16px 0;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;

}