.add-material-container {
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px 10px 0 0;
}

.input-material {
    margin: 20px 0;
}

.mainBtn {
    border: none;
    padding: 10px 20px;
    background: #FE9549;
    color: #fff;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 0.6px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}