.materialItem {
    height: 50px;
    margin: 10px 0;
    justify-content: space-between;
    border-bottom: 2px solid #A4ADFE;
    border-radius: 5px;
}

.materialItemDetails {
    align-self: center;
    color: #0C2C80;
}


.materialTitle {
    font-weight: bold;
}

.actionBox {
    align-self: center;
    padding-left: 10px;
    width: 10%;
    & button {
        margin: 0 5px ;
        border: none;
        background: none;
        cursor: pointer;
    }
}

.icon {
    color: #C4C4C4;
}


/*popUp styling*/
#popup-root .editBtn-content {
    width: 1100px;
    height: 500px;
    padding: 20px 20px 40px 20px;
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.editBtn-header {
    display: flex;
    align-items: center;
}

.editBtn-header button:first-child {
    border: none;
    background: none;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    color: #0C2C80;
    cursor: pointer;
}

.editBtn-header button:last-child {
    border: none;
    background: #4753BC;
    padding: 8px 15px;
    border-radius: 22px;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    color: #fff;
    cursor: pointer;
}

.editBtn-header h3 {
    margin: 0;
    width: 90%;
    font-family: 'Overpass', sans-serif;
    color: #0C2C80;
    font-size: 20px;
    padding-left: 15px;
}
.editBtn-content p {
    color: #5961A5;
    font-size: 12px;
}
.editBtn-arrow {
    width: 0;
}
[role='tooltip'].editBtn-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px;
}

.editBtn-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-editBtn='tooltip'].editBtn-overlay {
    background: transparent;
}


.description-area {
    border-radius: 5px;
    border: 1px solid #3D27C5;
    padding: 8px 0;
    background: #E0F1FA;
    resize: none;
}

/*drag and drop styles*/
#form-file-upload {
    height: 16rem;
    width: 28rem;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #cbd5e1;
    background-color: #f8fafc;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#label-file-upload.drag-active {
    background-color: #ffffff;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.materialEditHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    & button:first-child {
        border: none;
        background: none;
        font-family: 'Varela Round', sans-serif;
        color: #0C2C80;
        cursor: pointer;
        
        svg {
            font-size: 40px;
        }
    }

    & button:last-child {
        border: none;
        background: #4753BC;
        // padding: 8px 15px;
        // border-radius: 22px;
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        color: #fff;
        cursor: pointer;
    }

    &  h3 {
        margin: 0;
        width: 90%;
        font-family: 'Overpass', sans-serif;
        color: #0C2C80;
        font-size: 20px;
        padding-left: 15px;
    }

    & p {
        color: #5961A5;
        font-size: 12px;
    }
}

.line {
    height: 5px;
    background: #E0F1FA;
}


.formGroup {
    display: grid;
    margin-bottom: 20px;
    & label {
        color: #3D27C5;
        font-size: 0.85rem;
        padding: 8px ;
    }

    & input {
        border-radius: 5px;
        // border: 1px solid #3D27C5;
        padding: 8px ;
        background-color: #E0F1FA;

        &:active {
            border: 2px solid #3D27C5;
        }
    }
}

.formEditor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10px;

    .col1 {
        width: 35%;

        .formGroup {
            width: 85%;
            margin-bottom: 20px;
            display: grid;

            & label {
                color: #3D27C5;
                font-size: 0.85rem;
                padding: 8px ;
            }

            & input {
                border-radius: 5px;
                // border: 1px solid #3D27C5;
                padding: 8px;
                background-color: #E0F1FA;

                &:active {
                    border: 2px solid #3D27C5;
                }
            }
            
            textarea {
                resize: none;
                border-radius: 5px;
                // border: 1px solid #3D27C5;
                padding: 8px ;
                background-color: #E0F1FA;
            }

            select::-ms-expand {
                display: none;
            }

            select {
                display: inline-block;
                box-sizing: border-box;
                padding: 0.5em 2em 0.5em 0.5em;
                border: 1px solid #eee;
                font: inherit;
                line-height: inherit;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: none;
                background-repeat: no-repeat;
                background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
                background-position: right 15px top 1em, right 10px top 1em;
                background-size: 5px 5px, 5px 5px;
            }
        }
    }
      
    .col2 {
        width: 20%;

        .formGroup {
            width: 65%;
            margin-bottom: 20px;

        }
        
        & input {
            border: 2px solid #3D27C5;
            
            &:focus-visible {
                border: 2px solid #3D27C5;
            }
        }
    }

    .col3 {
        width: 45%;
    }
}

.deleteActions {
    background: #E0F1FA;
    padding: 25px;
    
    
    p {
        color: #93B3C2;
    }
    
    button {
        margin: 0 20px;
    }
}

.center{
    text-align: center;
    
    div:first-child {
        display: flex;
        justify-content: center;
    }
    
    svg {
        font-size: 40px;
        margin: 10px ;
    }
    
    h3 {
        margin: auto 10px;
    }
}

.close {
    padding: 10px 10px 0 10px;
    
    svg {
        cursor: pointer;
        transform: rotate(-90deg);
        transition: 0.3s;
        
        &:hover {
            transform: rotate(90deg);
            transition: 0.3s;
        }
    }
}