.main,
.authorContainer,
.grayContainer {
    border-radius: 10px 10px 0 0;
}
.main  {
    background: #fff;
}
.authorContainer {
    background: #fff;
}


.grayContainer {
    position: relative;
    background: #FBF8F8;
    padding: 80px 40px ;
    border-bottom: 2px solid rgba(52, 52, 52, 0.15);
}

.userName,
.content {
    padding: 10px 40px ;

}
.saveBtn {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px 10px;
    font-size: 40px;
    color: #A4ADFE;
    line-height: 1.5;
    border: none;
    background: none;
    cursor: pointer;
}

.bookmark {
    /*position: relative;*/
    /*top: 1px;*/
    /*!*background-image: url("../../assets/icons/bookmark_FILL0_wght400_GRAD0_opsz48.svg");*!*/
    /*width: 30px;*/
    /*height: 30px;*/
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
//.bookmark::before {
//    content: "\e866";
//}

.editBtn {
    position: absolute;
    top: 120px;
    right: 20px;
    border: none;
    background: #ea961f;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.img,
.imgBox {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

.imgBox {
    background: #fff;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -10%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
        width: 200px;
}

.img {
    background: #C4C4C4;
    width: 180px;
    height: 180px;
    border: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: opacity(0.5);
}

.userName h3 {
    font-size: 32px;
    font-family: 'Overpass', sans-serif;
    margin: 10px 0;
    color: rgba(17, 43, 87, 0.78);
}

.content {
    display: flex;
}


.about {
    width: 55%;

    & h4{
        font-family: 'Lilita One', cursive;
        color: #0C2C80;
        letter-spacing: 0.6px;
        font-size: 18px;
    }

    & p {
        color: #0C2C80;
        line-height: 24px;
    }
}

.opinions {
    width: 45%;
}

.materialsContainer,
.reviewsContainer {
    padding: 10px 40px 50px 40px;
}

.materialsContainer h3,
.reviewsContainer h3 {
    font-family: 'Lilita One', cursive;
    color: #0C2C80;
    letter-spacing: 1.6px;
    font-size: 18px;
}

/*popUp styling*/
#popup-root .popup-content {
    position: relative;
    width: 900px !important;
    height: 520px !important;
    padding: 20px 20px 40px 20px;
    z-index: 999;
    pointer-events: auto;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.profileEditHeader {
    display: flex;
    align-items: center;

    & button:first-child {
        border: none;
        background: none;
        font-size: 40px;
        font-family: 'Varela Round', sans-serif;
        color: #0C2C80;
        cursor: pointer;
    }

    & button:last-child {
        border: none;
        background: #4753BC;
        padding: 8px 15px;
        border-radius: 22px;
        font-size: 18px;
        font-family: 'Overpass', sans-serif;
        color: #fff;
        cursor: pointer;
    }

    &  h3 {
        margin: 0;
        width: 90%;
        font-family: 'Overpass', sans-serif;
        color: #0C2C80;
        font-size: 20px;
        padding-left: 15px;
    }

    & p {
        color: #5961A5;
        font-size: 12px;
    }
}

.profile-edit-arrow {
    width: 0;
}
[role='tooltip'].profile-edit-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px;
}

.profile-edit-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-profile-edit='tooltip'].profile-edit-overlay {
    background: transparent;
}

.formEditor {
    display: block;
    
    &:first-child {
        height: 200px;
    }
        
        h3 {
            top: 40%;
            margin-top: 200px;
            margin-left: 200px;
            padding: 8px 12px;
            background: #E0F1FA;
            color: #9bc0db;
        }
}

.imageArea {
 }

.uploadButton {
    display: none;
}

.backgroundImg {
    display: none;
    position: absolute;
    left: 0;
    top: 18%;
    padding: 20px;
    width: 100%;
    height: 100px;
    background: #E0F1FA;

}

.labelFileUpload,
.labelAvatarFileUpload {
    position: absolute;
    left: 0;
    top: 16%;
    padding: 20px;
    width: 100%;
    height: 100px;
    background: #E0F1FA;
    cursor: pointer;
}

.labelFileUpload {
    height: 150px;
}

.labelAvatarFileUpload{
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 2%;
    left: 3%;
}

.circle  {
    position: absolute;
    background: #fff;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 25%
}

.avatar {
    position: absolute;
    background: #E0F1FA;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 3%;
    right: 3%;
}

.hiddenContent img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
}

.profileEditContent h3:last-child {
    position: absolute;
    top: 38%;
    left: 25%;
    padding: 5px 90px 5px 10px;
    background: #E0F1FA;
    color: #5961A5;
}

.userDescription {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    resize: none;
    background: #E0F1FA;
    margin-top: 25px;
}

.flag {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.reportComponent {
    
    .reportHeader {
       background: rgba(164, 173, 254, 0.25);
       padding: 10px 15px;    
    }
    
    label::first-child {
        font-size: 12px;
        padding: 15px
    }
    
    label {
        color: #000;
    }
    
}