

/*main page logged*/

.mainPage-container-logged {
    /*display: inline-flex;*/
    text-align: center;
    margin-bottom: 50px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.header {
    font-family: 'Lilita One', cursive;
    font-size: 4rem;
    color: #0C2C80;
    letter-spacing: 1.5px;
    margin: 40px 0 25px 0;
}

.description {
    color: #3D27C5;
    width: 50%;
    margin: 40px auto;
}

/*main page not logged*/

.mainPage-container {
    margin-bottom: 50px;
}
.main-section {
    display: flex;
}

.column1,
.column2 {
    width: 50%;
}

.offer-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 50px ;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.offer-container h3 {
    font-size: 1.25rem;
    color: #0C2C80;
}
.description-default {
    color: #0C2C80;
    padding-bottom: 20px;
    font-weight: lighter;
}

.offer-list {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.offer-item {
    display: grid;
    text-align: center;
    justify-items: center;
}
.offer-item h4{
    font-family: 'Overpass', serif;
    color: #3D27C5;
}