.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #4753BC;
    font-weight: lighter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 5px;
}

.dropdown-content a:first-child:hover,
.dropdown-content a:nth-child(2):hover{
    border-bottom: 2px solid #A4ADFE;

}

.dropdown-content a:last-child {
    color: red;
}