.dropdown:hover .dropdown-content {
    display: grid;
}

.dropdown-content  a,
.dropdown-content span {
    color: #4753BC;
    font-weight: lighter;
    padding: 5px 16px 5px 0;
    text-decoration: none;
    display: block;
    margin: 5px;
}

.dropdown-content span {
    color: red;
    cursor: pointer;
}

.dropdown-content span:hover {
    text-transform: uppercase;
}


.dropdown-content a:first-child:hover,
.dropdown-content a:nth-child(2):hover{
    border-bottom: 2px solid #A4ADFE;

}

.dropdown-content a:last-child {
    color: red;
}