.message-area{
    resize: none;
    border-radius: 5PX;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-option {
    display: flex;
}

.icon {
    padding: 15px ;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-text p {
    font-size: 12px;
}

.contact-text a {
    font-size: 14px;
    font-weight: bold;
}