.statisticsContainer {
  background-color: #ffff;
  padding: 40px 20px;
  border-radius: 10px 10px 0 0;
  
  
  .headerContainer {
    display: grid;

    &Title {
      font-family: 'Lilita One', cursive;
      font-size: 36px;
      color: #0C2C80;
      width: max-content;
      margin: 20px auto 30px auto;
    }

  }

 .summary {
   display: flex;
   justify-content: space-around;
   margin: 20px auto;
 }
  .modalBox {
    box-shadow: rgba(164, 173, 254, 0.4) 0 0 10px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;

    .icon {
      width: 85px;
      height: 85px;
      padding: 15px;
      margin: auto 12px;
      color: #fff;
    }
    
    .views,
    .users,
    .paid {
      border-radius: 5px;
    }
    .views {
      background-color: #FE9549;
    }
    
    .users {
      background-color: #0C2C80;
    }
    
    .paid {
      background-color: #12581D;
    }

    .info {
      display: block;
      margin: auto 15px;
      
      h3 {
        color: #5961A5;
        font-size: 16px;
      }
      
      h1 {
      }
    }
  }

  .chartContainer {
    margin: 20px auto;
    
    .chartLabel {
      color: #0C2C80;
    }
    
  }

  .settlementContainer {

    .settlementHeader {
      color: #0C2C80;

      h3 {
        font-size: 24px;
      }
    }
  }

  .settlementTableContainer {

    .settlementTable {

      font-size: 18px;

      td {
        color: #888787;
      }
    }
  }
}
