
.section1 {
  width: 40%;
}

.section2 {
  width: 60%;
}

.section2 h1 {
  text-align: center;
}

.loginInfo {
  margin: 40px 0;
  background: #5961A5;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.loginInfo h3 {
  font-size: 1.55rem;
}

.signingSection {
  max-width: 400px;
  margin: 40px auto;

}

.thirdParty {
  display: grid;
}

.facebookBtn{
  padding: 10px;
  font-size: 0.85rem;
  width: 100%;
  margin: 10px 0;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.facebookBtn i {
  color: #4c69ba;
  float: left;
  padding-left: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.googleBtn {
  background-color:  #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: none;
  font-size:0.85rem;
  font-weight: normal;
  margin-bottom: 10px;
  background-image: url("../../assets/icons/icons8-google-48.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left 14px center;
  cursor: pointer;
}

.label {
  color: #fff;
  padding: 20px;
  font-size: 0.83rem !important;
}

.hrLabel {
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
}
.hrLabel::before {
  content: '';
  position: relative;
  width: 50%;
  background-color: #fff;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  margin-left: -50%;
  right: 0.5em;
}

.hrLabel::after {
  content: '';
  position: relative;
  width: 50%;
  background-color: #fff;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  margin-right: -50%;
  left: 0.5em;
}

.formGroup {
  display: grid;

  & label {
    color: #ffff;
    font-size: 0.85rem;
    padding: 8px 0;
  }

  & input {
    border-radius: 5px;
    border: 1px solid #3D27C5;
    padding: 8px 0;

    &:active {
      border: 2px solid #3D27C5;
    }
  }
}


.submitBtn {
  background-color: #FE9549;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  margin: 16px 0;
  width: 100%;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  background-image: url("../../assets/images/Arrow2.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.otherOptions {
  display: flex;
  justify-content: space-between;
}
.rememberMeField,
.forgotPasswordField {
  color: #0C2C80;
}

.forgotPasswordField {
  text-decoration: underline;
}


.registrationForm {
  background-color: #5961A5;
  color: #fff ;
  margin-bottom: 50px;
  padding: 20px 10px;

  & > div {
    margin: 0 30px;
  }

  & h3 {
    font-size: 1.55rem;
    margin-bottom: 15px;
  }
}


.registrationForm
.registrationForm label {
  color: #fff;
}
.personalDataField {
  display: flex;
  justify-content: space-between;

  & div {
    width: 45%;
  }
}


.radioGroup {
  display: flex;
  justify-content: space-between;

  & > label {
    width: 45%;
    color: #fff;
    text-align: center;
    background-color: #6684D3;
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid #3D27C5;
    border-radius: 5px;
  }
}

h5 {
  margin: 20px 0 0 0;
}

input[type="radio"] {
  display: none;
}


input[type="radio"]:checked + label {
  background-color: #ffffff;
  color: #6684D3;
}

input[type="radio"]:hover label {
  background-color: #ffffff;
  color: #6684D3;
}


.regulations {
  font-size: 0.74rem;
  padding: 0 10px;

  & a {
    color: #2DCDFF;
  }
}


.alert {
  color: #fff;
  background: red;
  margin: 0;
  padding: 2px 10px;
  border-radius: 10px;
}